---
import { Icon } from "astro-icon";
---

<section class="bg-sky-800">
  <div
    class="container mx-auto px-8 py-16 text-white text-center lg:text-left flex flex-col items-center gap-8 lg:flex-row lg:justify-between lg:items-center"
  >
    <div>
      <h2 class="text-2xl sm:text-4xl font-bold mb-4">
        Obtén los precios más bajos
      </h2>
      <p class="sm:text-xl">
        Ponte en contacto con nosotros y obtén una cotización sin compromiso
        alguno
      </p>
    </div>
    <a href="tel:2211691079">
      <button
        class="bg-cyan-400 hover:bg-cyan-500 font-bold rounded-md transition px-6 py-2 whitespace-nowrap w-fit h-fit"
      >
        <Icon name="tabler:phone-call" class="w-5 inline-block mr-2" /><span
          >(221) 169-1079</span
        >
      </button>
    </a>
  </div>
</section>
