---
// library imports
import { Image } from "@astrojs/image/components";

// image imports
import heroImage from "../images/hero-image.png";
import bgImage from "../images/banner-image.jpg";
---

<section id="inicio" class="flex flex-col justify-center relative">
  <div
    class="container px-4 sm:px-16 mx-auto my-24 sm:my-32 flex flex-col lg:flex-row gap-16"
  >
    <div class="flex flex-col justify-center text-left">
      <p class="text-white text-xl sm:text-2xl font-bold mb-8">
        Compromiso y Versatibilidad
      </p>
      <h1 class="text-5xl sm:text-6xl text-white font-bold break-words">
        Distribución y Venta de Material Médico
      </h1>
    </div>
    <Image
      src={heroImage}
      alt="medicina virtual"
      width={600}
      format="avif"
      class="w-full h-full object-cover"
    />
  </div>
  <div class="absolute inset-0 bg-sky-800 -z-10 opacity-90"></div>
    <img src="/bg-img.webp" alt="Background image" class="absolute inset-0 -z-20 object-cover w-full h-full">
  <!-- <Image
    src={bgImage}
    alt=""
    width={1200}
    format="avif"
    class="absolute inset-0 w-full h-full object-cover -z-20"
  /> -->
</section>
